#detail {
  .filename {
    font-style: italic;
    text-decoration: underline;
  }

  > section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  aside#data {
    $border-color: #b92425;

    padding-left: 15px;
    border-left: 1px solid $border-color;
    margin-left: 10px;

    .sections {
      max-height: 500px;
      overflow: auto;
      border: 1px solid transparentize($border-color, 0.5);
      border-left-style: none;
      border-right-style: none;
    }

    .content {
      margin-left: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }

  h2 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 4px;
    text-decoration: underline;
  }

  aside#image img {
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  figcaption .name {
    font-size: 1.5em;
    font-weight: 400;
  }

  .download {
    font-weight: 500;
  }

  #flickr li {
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    max-width: 340px;
    margin: 10px 1.250em;
    display: inline-block;
    vertical-align: top;

    figure {
      margin: 0;
    }

    figcaption {
      font-weight: 400;
      padding: 4px 5px;
    }
  }

  .imgContainer {
    height: 280px;
    overflow: hidden;
  }

  .imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
