#detail {
  .filename {
    font-style: italic;
    text-decoration: underline;
  }

  > section {
    display: flex;
    align-items: flex-start;
  }

  aside#data {
    padding-left: 15px;
    border-left: 1px solid #b92425;
    margin-left: 10px;

    .content {
      margin-left: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 10px;
      padding-bottom: 10px;
    }
  }

  h2 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 4px;
    text-decoration: underline;
  }

  aside#image img {
    max-width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  figcaption .name {
    font-size: 1.5em;
    font-weight: 400;
  }

  .download {
    font-weight: 500;
  }
}
