header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 60px;
  border-bottom: 1px solid rgba(0,0,0,0.14);
  font-weight: 500;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #FFF;
  background-color: $color-primary;
  color: transparentize(white, .2);

  #title {
    font-size: 22px;
  }

  ul {
    display: flex;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0 32px;
    text-transform: uppercase;
    font-size: 14px;
  }
}
