body {
  color: darken($color-secondary, 8%);
  font-size: 14px;
  line-height: 1.2;
  background-color: #FFFBFA;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 105px 60px 50px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}
