#list {
  #images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .image {
    margin: 10px 10px 20px;
  }

  figure {
    max-width: 275px;

    > div {
      height: 140px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    figcaption {
      margin-top: 4px;
      font-weight: 400;
    }

    .author {
      text-align: right;
      font-style: italic;
      margin-top: 7px;
      font-size: 0.9em;
    }
  }

  img {
    max-width: 100%;
  }
}
