<!DOCTYPE html>
{% block html %}<html>{% endblock %}
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Microdata{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ root }}">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      {% include 'fragments/header.html.twig' %}
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
