<div id="title"><a href="{{ path('list') }}">Micrometa</a></div>
<nav>
  <ul>
    <li><a href="{{ path('list') }}">Liste</a></li>
    <li><a href="{{ path('upload') }}">Ajouter</a></li>
    <!-- <li>Carte</li> -->
  </ul>
</nav>
