<div id="title"><a href="{{ path('list') }}">Micrometa</a></div>
<nav>
  <ul>
    <li><a href="{{ path('list') }}">Liste</a></li>
    <!-- <li>Carte</li> -->
    <!-- <li>Ajouter</li> -->
  </ul>
</nav>
